<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c8bf6303f60ca513b6caa074d5b5ba76 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c8bf6303f60ca513b6caa074d5b5ba76" ></div>
        
</body>
<script>
    
    
            var map_c8bf6303f60ca513b6caa074d5b5ba76 = L.map(
                "map_c8bf6303f60ca513b6caa074d5b5ba76",
                {
                    center: [52.0902045, 13.1741882],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f2bc10606e9615d8ea38c94b748f440b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
            var marker_5d83b537e41234e4c05258ab0d3f764f = L.marker(
                [52.0902045, 13.1741882],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
            var icon_02ce1183cb1b80d9e4a0c31fb3791d3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5d83b537e41234e4c05258ab0d3f764f.setIcon(icon_02ce1183cb1b80d9e4a0c31fb3791d3f);
        
    
        var popup_8285b0e5c6667d0897ed836a506b4c06 = L.popup({"maxWidth": "100%"});

        
            var html_d87e3fcdf1e592eb695ed2ddbed52c12 = $(`<div id="html_d87e3fcdf1e592eb695ed2ddbed52c12" style="width: 100.0%; height: 100.0%;">luckenwalde</div>`)[0];
            popup_8285b0e5c6667d0897ed836a506b4c06.setContent(html_d87e3fcdf1e592eb695ed2ddbed52c12);
        

        marker_5d83b537e41234e4c05258ab0d3f764f.bindPopup(popup_8285b0e5c6667d0897ed836a506b4c06)
        ;

        
    
    
            marker_5d83b537e41234e4c05258ab0d3f764f.bindTooltip(
                `<div>
                     Your Location
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ed5180ff415ea9a1a7e671dc8f9ecfe = L.marker(
                [52.0843653, 13.175209],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_275df9a7ddc2e4ec0b0b8d5c1e842a57 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_8ed5180ff415ea9a1a7e671dc8f9ecfe.setIcon(custom_icon_275df9a7ddc2e4ec0b0b8d5c1e842a57);
        
    
        var popup_4421e2fd4783cc131050beabd91ba79f = L.popup({"maxWidth": "100%"});

        
            var html_e762f649a33cbfe39ddb09d80983100a = $(`<div id="html_e762f649a33cbfe39ddb09d80983100a" style="width: 100.0%; height: 100.0%;">Friedrich Gymnasium</div>`)[0];
            popup_4421e2fd4783cc131050beabd91ba79f.setContent(html_e762f649a33cbfe39ddb09d80983100a);
        

        marker_8ed5180ff415ea9a1a7e671dc8f9ecfe.bindPopup(popup_4421e2fd4783cc131050beabd91ba79f)
        ;

        
    
    
            marker_8ed5180ff415ea9a1a7e671dc8f9ecfe.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8aaf30a3962883bd5d4d056ac9f6824a = L.marker(
                [52.0920196, 13.1590672],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_0f9172a5537020d1fa0051b603244c22 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_8aaf30a3962883bd5d4d056ac9f6824a.setIcon(custom_icon_0f9172a5537020d1fa0051b603244c22);
        
    
        var popup_3b4f611fa9ddcc6f1ec9f11aec9147f4 = L.popup({"maxWidth": "100%"});

        
            var html_7345128dc08b20449c9000c751317482 = $(`<div id="html_7345128dc08b20449c9000c751317482" style="width: 100.0%; height: 100.0%;">Ernst-Moritz-Arndt Grundschule</div>`)[0];
            popup_3b4f611fa9ddcc6f1ec9f11aec9147f4.setContent(html_7345128dc08b20449c9000c751317482);
        

        marker_8aaf30a3962883bd5d4d056ac9f6824a.bindPopup(popup_3b4f611fa9ddcc6f1ec9f11aec9147f4)
        ;

        
    
    
            marker_8aaf30a3962883bd5d4d056ac9f6824a.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46e3a7a36607f8568dee2f60898403fc = L.marker(
                [52.103235, 13.1516232],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_b16f4c9e4c491ccf87078456247d9fa9 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_46e3a7a36607f8568dee2f60898403fc.setIcon(custom_icon_b16f4c9e4c491ccf87078456247d9fa9);
        
    
        var popup_d06e504fba98a4d60f550438a440b408 = L.popup({"maxWidth": "100%"});

        
            var html_4f0c80c1e2e51ae93635e8afb4e9a2d0 = $(`<div id="html_4f0c80c1e2e51ae93635e8afb4e9a2d0" style="width: 100.0%; height: 100.0%;">Friedrich-Ludwig-Jahn-Oberschule</div>`)[0];
            popup_d06e504fba98a4d60f550438a440b408.setContent(html_4f0c80c1e2e51ae93635e8afb4e9a2d0);
        

        marker_46e3a7a36607f8568dee2f60898403fc.bindPopup(popup_d06e504fba98a4d60f550438a440b408)
        ;

        
    
    
            marker_46e3a7a36607f8568dee2f60898403fc.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fabbceb7dcd7f2ef575e5b0a2b5dba77 = L.marker(
                [52.1032036, 13.1514397],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_e6d85255560eb4b1576923dd217731a5 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_fabbceb7dcd7f2ef575e5b0a2b5dba77.setIcon(custom_icon_e6d85255560eb4b1576923dd217731a5);
        
    
        var popup_7d308a449c5ed2c2492fed4866a0a971 = L.popup({"maxWidth": "100%"});

        
            var html_d22fb94e7b8b3c41dd3b435f828ea71c = $(`<div id="html_d22fb94e7b8b3c41dd3b435f828ea71c" style="width: 100.0%; height: 100.0%;">Friedrich-Ludwig-Jahn-Grundschule</div>`)[0];
            popup_7d308a449c5ed2c2492fed4866a0a971.setContent(html_d22fb94e7b8b3c41dd3b435f828ea71c);
        

        marker_fabbceb7dcd7f2ef575e5b0a2b5dba77.bindPopup(popup_7d308a449c5ed2c2492fed4866a0a971)
        ;

        
    
    
            marker_fabbceb7dcd7f2ef575e5b0a2b5dba77.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_084163d990b3f2d7339d0b849cd1fe1c = L.marker(
                [52.0881397, 13.1760213],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_afe08d9232e66cb28268dbcff0278136 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_084163d990b3f2d7339d0b849cd1fe1c.setIcon(custom_icon_afe08d9232e66cb28268dbcff0278136);
        
    
        var popup_62e803c66d0aac09f7bb8816b6780558 = L.popup({"maxWidth": "100%"});

        
            var html_5b639972e09033fa0dd0f027cde6eaa1 = $(`<div id="html_5b639972e09033fa0dd0f027cde6eaa1" style="width: 100.0%; height: 100.0%;">Friedrich-Ebert-Grundschule</div>`)[0];
            popup_62e803c66d0aac09f7bb8816b6780558.setContent(html_5b639972e09033fa0dd0f027cde6eaa1);
        

        marker_084163d990b3f2d7339d0b849cd1fe1c.bindPopup(popup_62e803c66d0aac09f7bb8816b6780558)
        ;

        
    
    
            marker_084163d990b3f2d7339d0b849cd1fe1c.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec68a05209a8fc9c73bbc9f932822cdd = L.marker(
                [52.1036553, 13.1517799],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_7aa4e7ebf69a0e6f2d15719bd7c92a64 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_ec68a05209a8fc9c73bbc9f932822cdd.setIcon(custom_icon_7aa4e7ebf69a0e6f2d15719bd7c92a64);
        
    
        var popup_7a3cfbccf3d8022630ca15b1fedefb9b = L.popup({"maxWidth": "100%"});

        
            var html_2d9b2ce50880b5fb2801cd099ac86c86 = $(`<div id="html_2d9b2ce50880b5fb2801cd099ac86c86" style="width: 100.0%; height: 100.0%;">unknown</div>`)[0];
            popup_7a3cfbccf3d8022630ca15b1fedefb9b.setContent(html_2d9b2ce50880b5fb2801cd099ac86c86);
        

        marker_ec68a05209a8fc9c73bbc9f932822cdd.bindPopup(popup_7a3cfbccf3d8022630ca15b1fedefb9b)
        ;

        
    
    
            marker_ec68a05209a8fc9c73bbc9f932822cdd.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c9a26560a2eb0c48bee222780e91f4f8 = L.marker(
                [52.0996975, 13.1788233],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_825e6020a5c660a0843d9cb5245452e0 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_c9a26560a2eb0c48bee222780e91f4f8.setIcon(custom_icon_825e6020a5c660a0843d9cb5245452e0);
        
    
        var popup_cf4d2bba5f75b83886dacf815a9c4916 = L.popup({"maxWidth": "100%"});

        
            var html_23458017b1c8c8020cfe9e060f46f539 = $(`<div id="html_23458017b1c8c8020cfe9e060f46f539" style="width: 100.0%; height: 100.0%;">KMG-Klinikum Luckenwalde</div>`)[0];
            popup_cf4d2bba5f75b83886dacf815a9c4916.setContent(html_23458017b1c8c8020cfe9e060f46f539);
        

        marker_c9a26560a2eb0c48bee222780e91f4f8.bindPopup(popup_cf4d2bba5f75b83886dacf815a9c4916)
        ;

        
    
    
            marker_c9a26560a2eb0c48bee222780e91f4f8.bindTooltip(
                `<div>
                     hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_548e6b5e57208e26ae6ea741b7192061 = L.marker(
                [52.0833076, 13.1591933],
                {}
            ).addTo(map_c8bf6303f60ca513b6caa074d5b5ba76);
        
    
        var custom_icon_f1fec333b204d4f8aa5d3f2b4374702d = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAoUlEQVQ4y9WTsQ2DMBBFH5VrT8AKLMEYbAFLwBaMwRKswAJQ06BLk5N8yckBFCnK/fY9yf4+w59MxcREdQ4uGTkQhIORMg9HenYkyU5P9OFAy2pgzUpLsHBBw+LCmoWGQvGaOQtrZuprgiDXjpQI5y79Inyu9U0YiO7DRQZfEDY6glmNQMf2BB3BNp5WkRG0cVu2K+Ra+sby3VrvWx/o5/MAPXzKEJRgWWsAAAAASUVORK5CYII="});
        marker_548e6b5e57208e26ae6ea741b7192061.setIcon(custom_icon_f1fec333b204d4f8aa5d3f2b4374702d);
        
    
        var popup_6f028282b6ed1d4814f806ad26489fe4 = L.popup({"maxWidth": "100%"});

        
            var html_b17e2c57b311b09f20a87b52eca3aef4 = $(`<div id="html_b17e2c57b311b09f20a87b52eca3aef4" style="width: 100.0%; height: 100.0%;">Oberstufenzentrum Landkreis Teltow-Fläming</div>`)[0];
            popup_6f028282b6ed1d4814f806ad26489fe4.setContent(html_b17e2c57b311b09f20a87b52eca3aef4);
        

        marker_548e6b5e57208e26ae6ea741b7192061.bindPopup(popup_6f028282b6ed1d4814f806ad26489fe4)
        ;

        
    
    
            marker_548e6b5e57208e26ae6ea741b7192061.bindTooltip(
                `<div>
                     school
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>