<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9e1e6be7f874c1f10300bc6538b915ff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9e1e6be7f874c1f10300bc6538b915ff" ></div>
        
</body>
<script>
    
    
            var map_9e1e6be7f874c1f10300bc6538b915ff = L.map(
                "map_9e1e6be7f874c1f10300bc6538b915ff",
                {
                    center: [52.5208279, 13.409421365810083],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6068de22d28a6f0d580a5968b1b02781 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
            var marker_fd0d1714bdb2c6cc89bef01336b64de1 = L.marker(
                [52.5208279, 13.409421365810083],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
            var icon_f83dcf7176deb0ceaaaeeb0a3ef70890 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fd0d1714bdb2c6cc89bef01336b64de1.setIcon(icon_f83dcf7176deb0ceaaaeeb0a3ef70890);
        
    
        var popup_6f16193190dd670ca1e2c87d7fe5ed67 = L.popup({"maxWidth": "100%"});

        
            var html_994f6c78c6e0b562114aa5fe8c352301 = $(`<div id="html_994f6c78c6e0b562114aa5fe8c352301" style="width: 100.0%; height: 100.0%;">Panoramastraße 1A, 10178 Berlin</div>`)[0];
            popup_6f16193190dd670ca1e2c87d7fe5ed67.setContent(html_994f6c78c6e0b562114aa5fe8c352301);
        

        marker_fd0d1714bdb2c6cc89bef01336b64de1.bindPopup(popup_6f16193190dd670ca1e2c87d7fe5ed67)
        ;

        
    
    
            marker_fd0d1714bdb2c6cc89bef01336b64de1.bindTooltip(
                `<div>
                     Your Location
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6284807ec5ba6ff4ea35079ed9f6c45 = L.marker(
                [52.506748, 13.3946085],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_f5a35fc734ea94b3d1b0e5f46d0e4ec4 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_d6284807ec5ba6ff4ea35079ed9f6c45.setIcon(custom_icon_f5a35fc734ea94b3d1b0e5f46d0e4ec4);
        
    
        var popup_3c88055cbb8c726b70b441f0bffd522a = L.popup({"maxWidth": "100%"});

        
            var html_fe7c25790b7afdd3a915c16e1e49a470 = $(`<div id="html_fe7c25790b7afdd3a915c16e1e49a470" style="width: 100.0%; height: 100.0%;">Rückenzentrum am Markgrafenpark</div>`)[0];
            popup_3c88055cbb8c726b70b441f0bffd522a.setContent(html_fe7c25790b7afdd3a915c16e1e49a470);
        

        marker_d6284807ec5ba6ff4ea35079ed9f6c45.bindPopup(popup_3c88055cbb8c726b70b441f0bffd522a)
        ;

        
    
    
            marker_d6284807ec5ba6ff4ea35079ed9f6c45.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2452838efcc16cfd9d3a77eeaa4f33f = L.marker(
                [52.5292555, 13.3930716],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_d4c6546634ef603491e269ec47836b31 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_b2452838efcc16cfd9d3a77eeaa4f33f.setIcon(custom_icon_d4c6546634ef603491e269ec47836b31);
        
    
        var popup_5a37552b9efc81b2ac916d3b148138fd = L.popup({"maxWidth": "100%"});

        
            var html_5cf3ca8cb4b64f68e64a89bbee30c7d4 = $(`<div id="html_5cf3ca8cb4b64f68e64a89bbee30c7d4" style="width: 100.0%; height: 100.0%;">ZAR Berlin</div>`)[0];
            popup_5a37552b9efc81b2ac916d3b148138fd.setContent(html_5cf3ca8cb4b64f68e64a89bbee30c7d4);
        

        marker_b2452838efcc16cfd9d3a77eeaa4f33f.bindPopup(popup_5a37552b9efc81b2ac916d3b148138fd)
        ;

        
    
    
            marker_b2452838efcc16cfd9d3a77eeaa4f33f.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a92dc1e333477de290a0b8fde1a8ef9d = L.marker(
                [52.513277, 13.389756],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_7781d85bdf4e2f049623aa3dc6b805bd = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_a92dc1e333477de290a0b8fde1a8ef9d.setIcon(custom_icon_7781d85bdf4e2f049623aa3dc6b805bd);
        
    
        var popup_7790c2480475d6f97d24551a07082690 = L.popup({"maxWidth": "100%"});

        
            var html_5c376c3c99e0f54a0136b3a535e9b49f = $(`<div id="html_5c376c3c99e0f54a0136b3a535e9b49f" style="width: 100.0%; height: 100.0%;">Meoclinic</div>`)[0];
            popup_7790c2480475d6f97d24551a07082690.setContent(html_5c376c3c99e0f54a0136b3a535e9b49f);
        

        marker_a92dc1e333477de290a0b8fde1a8ef9d.bindPopup(popup_7790c2480475d6f97d24551a07082690)
        ;

        
    
    
            marker_a92dc1e333477de290a0b8fde1a8ef9d.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e096dfead43cf08e3550963df59ad9ec = L.marker(
                [52.5076578, 13.3948073],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_af7442711118cc77759a31a101406f6e = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_e096dfead43cf08e3550963df59ad9ec.setIcon(custom_icon_af7442711118cc77759a31a101406f6e);
        
    
        var popup_282eb10c6dbab0cd8266e2049a05e90b = L.popup({"maxWidth": "100%"});

        
            var html_6d6ffaddbb9907959a1cf7a675ee0878 = $(`<div id="html_6d6ffaddbb9907959a1cf7a675ee0878" style="width: 100.0%; height: 100.0%;">Ärztezentrum Axel-Springer-Passage</div>`)[0];
            popup_282eb10c6dbab0cd8266e2049a05e90b.setContent(html_6d6ffaddbb9907959a1cf7a675ee0878);
        

        marker_e096dfead43cf08e3550963df59ad9ec.bindPopup(popup_282eb10c6dbab0cd8266e2049a05e90b)
        ;

        
    
    
            marker_e096dfead43cf08e3550963df59ad9ec.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_109c14e4b51e01b72ae0a7c98150b809 = L.marker(
                [52.514121, 13.3894666],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_a8b0f9d3d915880a305db7fa83a57294 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_109c14e4b51e01b72ae0a7c98150b809.setIcon(custom_icon_a8b0f9d3d915880a305db7fa83a57294);
        
    
        var popup_5abee63c1932be628695fa4041186517 = L.popup({"maxWidth": "100%"});

        
            var html_0cded81775471f8cbbfaa72521e10e32 = $(`<div id="html_0cded81775471f8cbbfaa72521e10e32" style="width: 100.0%; height: 100.0%;">Endokrinologie Berlin</div>`)[0];
            popup_5abee63c1932be628695fa4041186517.setContent(html_0cded81775471f8cbbfaa72521e10e32);
        

        marker_109c14e4b51e01b72ae0a7c98150b809.bindPopup(popup_5abee63c1932be628695fa4041186517)
        ;

        
    
    
            marker_109c14e4b51e01b72ae0a7c98150b809.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b69739d9501263052303eca007cd6c95 = L.marker(
                [52.5267745, 13.4141606],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_15179a236595fa87b1c0f004e84ec48b = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_b69739d9501263052303eca007cd6c95.setIcon(custom_icon_15179a236595fa87b1c0f004e84ec48b);
        
    
        var popup_b348c1d75aa022df2ee32bc94b2fcfcc = L.popup({"maxWidth": "100%"});

        
            var html_c75bf63962e30a06d4ff5b729edf4969 = $(`<div id="html_c75bf63962e30a06d4ff5b729edf4969" style="width: 100.0%; height: 100.0%;">Ärztehaus</div>`)[0];
            popup_b348c1d75aa022df2ee32bc94b2fcfcc.setContent(html_c75bf63962e30a06d4ff5b729edf4969);
        

        marker_b69739d9501263052303eca007cd6c95.bindPopup(popup_b348c1d75aa022df2ee32bc94b2fcfcc)
        ;

        
    
    
            marker_b69739d9501263052303eca007cd6c95.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0f43045f88deee62f2d358860d253cfb = L.marker(
                [52.5260078, 13.3967138],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_67e234dbb9b267fd72ec216e28a356d7 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_0f43045f88deee62f2d358860d253cfb.setIcon(custom_icon_67e234dbb9b267fd72ec216e28a356d7);
        
    
        var popup_c9c6e1b227e47ccb3b1903e6de34048c = L.popup({"maxWidth": "100%"});

        
            var html_52005b759d7069ef14c56863058a845d = $(`<div id="html_52005b759d7069ef14c56863058a845d" style="width: 100.0%; height: 100.0%;">St. Hedwig-Krankenhaus</div>`)[0];
            popup_c9c6e1b227e47ccb3b1903e6de34048c.setContent(html_52005b759d7069ef14c56863058a845d);
        

        marker_0f43045f88deee62f2d358860d253cfb.bindPopup(popup_c9c6e1b227e47ccb3b1903e6de34048c)
        ;

        
    
    
            marker_0f43045f88deee62f2d358860d253cfb.bindTooltip(
                `<div>
                     hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_543ba4e2ba46358b3d6c871b028b87f8 = L.marker(
                [52.5245694, 13.4278736],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_727b3e987971bb95282bc5a6f0946c21 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_543ba4e2ba46358b3d6c871b028b87f8.setIcon(custom_icon_727b3e987971bb95282bc5a6f0946c21);
        
    
        var popup_4202c4e3c53e8bb151f6e3f3a448add8 = L.popup({"maxWidth": "100%"});

        
            var html_dccab24a183bc42a4538799e590d91c5 = $(`<div id="html_dccab24a183bc42a4538799e590d91c5" style="width: 100.0%; height: 100.0%;">Vivantes – Haus Jahreszeiten</div>`)[0];
            popup_4202c4e3c53e8bb151f6e3f3a448add8.setContent(html_dccab24a183bc42a4538799e590d91c5);
        

        marker_543ba4e2ba46358b3d6c871b028b87f8.bindPopup(popup_4202c4e3c53e8bb151f6e3f3a448add8)
        ;

        
    
    
            marker_543ba4e2ba46358b3d6c871b028b87f8.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b508be0b659332203dba16fec13c9a28 = L.marker(
                [52.51884, 13.4219995],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_2ac97ab766569a74b40f860cb046c799 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_b508be0b659332203dba16fec13c9a28.setIcon(custom_icon_2ac97ab766569a74b40f860cb046c799);
        
    
        var popup_8072a6ba7df63bea0f47a3efc7194210 = L.popup({"maxWidth": "100%"});

        
            var html_759cb147529bc099a34bdc547fcdd4f4 = $(`<div id="html_759cb147529bc099a34bdc547fcdd4f4" style="width: 100.0%; height: 100.0%;">Ambulatorium Schillingstraße 12</div>`)[0];
            popup_8072a6ba7df63bea0f47a3efc7194210.setContent(html_759cb147529bc099a34bdc547fcdd4f4);
        

        marker_b508be0b659332203dba16fec13c9a28.bindPopup(popup_8072a6ba7df63bea0f47a3efc7194210)
        ;

        
    
    
            marker_b508be0b659332203dba16fec13c9a28.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d03ecdd870447161faa49cfeb56b26a1 = L.marker(
                [52.534693, 13.3976949],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_e7996f84140817812c60e742a6aa59f5 = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_d03ecdd870447161faa49cfeb56b26a1.setIcon(custom_icon_e7996f84140817812c60e742a6aa59f5);
        
    
        var popup_506ce57dea987a73396f7923120d26a5 = L.popup({"maxWidth": "100%"});

        
            var html_7c1824da1b3201b07b69b922f05ea43e = $(`<div id="html_7c1824da1b3201b07b69b922f05ea43e" style="width: 100.0%; height: 100.0%;">Ärztehaus</div>`)[0];
            popup_506ce57dea987a73396f7923120d26a5.setContent(html_7c1824da1b3201b07b69b922f05ea43e);
        

        marker_d03ecdd870447161faa49cfeb56b26a1.bindPopup(popup_506ce57dea987a73396f7923120d26a5)
        ;

        
    
    
            marker_d03ecdd870447161faa49cfeb56b26a1.bindTooltip(
                `<div>
                     clinic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8e73aaa2ebc79f68aad16df309c2d7f1 = L.marker(
                [52.5257591, 13.3778766],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_fbdf45bb36f4e1c7336aa505f6a5b77e = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_8e73aaa2ebc79f68aad16df309c2d7f1.setIcon(custom_icon_fbdf45bb36f4e1c7336aa505f6a5b77e);
        
    
        var popup_cce98518b1661a3a1b048132f2753b2a = L.popup({"maxWidth": "100%"});

        
            var html_825ccc781ab48a6032259d1c389d7cbf = $(`<div id="html_825ccc781ab48a6032259d1c389d7cbf" style="width: 100.0%; height: 100.0%;">Campus Charité Mitte</div>`)[0];
            popup_cce98518b1661a3a1b048132f2753b2a.setContent(html_825ccc781ab48a6032259d1c389d7cbf);
        

        marker_8e73aaa2ebc79f68aad16df309c2d7f1.bindPopup(popup_cce98518b1661a3a1b048132f2753b2a)
        ;

        
    
    
            marker_8e73aaa2ebc79f68aad16df309c2d7f1.bindTooltip(
                `<div>
                     hospital
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_475af3d900db4fe974a5064860f846bb = L.marker(
                [52.5255323, 13.4394766],
                {}
            ).addTo(map_9e1e6be7f874c1f10300bc6538b915ff);
        
    
        var custom_icon_dc7a5a44ae872795cbc4a3b76c6a447c = L.icon({"iconSize": [32, 32], "iconUrl": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAASklEQVQ4y2NgGLTAneExw3888DGDB6qG+3iVg+AjVA1/CGr4j6rhL1apoagBF8Ci4d9g1UCCp0nW8J/OGohIfI9ITd4epGagQQQADMzvNzUiZycAAAAASUVORK5CYII="});
        marker_475af3d900db4fe974a5064860f846bb.setIcon(custom_icon_dc7a5a44ae872795cbc4a3b76c6a447c);
        
    
        var popup_f774dcc8a7982a880dc8f533127f859b = L.popup({"maxWidth": "100%"});

        
            var html_f24a979465e7a487c842ca936234085e = $(`<div id="html_f24a979465e7a487c842ca936234085e" style="width: 100.0%; height: 100.0%;">Klinikum im Friedrichshain</div>`)[0];
            popup_f774dcc8a7982a880dc8f533127f859b.setContent(html_f24a979465e7a487c842ca936234085e);
        

        marker_475af3d900db4fe974a5064860f846bb.bindPopup(popup_f774dcc8a7982a880dc8f533127f859b)
        ;

        
    
    
            marker_475af3d900db4fe974a5064860f846bb.bindTooltip(
                `<div>
                     hospital
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>